
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d1a081;
}

h1 {
  color: blue;
}


td{
  height: 50px;
}

button.cartbutton {
  text-align: center;
  border: 1px line black;
  float: right;
  width: 70px;
}

p.totalprice {
  margin-left: 66%;
}


table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}


.coloumn {
  width: 50px;
}

ul {
  align-items: center;
  list-style-type: none;
  align-content: center;
  width: 75%;
  margin-left: 100px;
  font-size: x-large;
}

span {
  margin-top: 240px;
  margin-left: 200px;
}

.cart {
  width: 80%;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}


li.totalprice {
  margin-left: 400px;
}

button {
  background-color: #49e9bd;
  border: none;
  width: 50x;
  height: 30px;
  font-weight: bold;
}

.count {
  background-color: black; /* Green */
  border: none;
  color: white;
  text-align: center;
  color: white;
  border-radius: 100%;
  margin-left: 30px;
  width: 35px;
}
p.noitem{
  padding-left: 100px;
  font-size: 70px;
  margin-top: 40px;
}
